---
layout: default
permalink: /categories/
title: David Sweeney | Blog Categories
---

<div class="blurb">
  <h1>Blog Categories</h1>
  
{% for category in site.categories %}
  <!--<div class="archive-group">-->
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"><!--</div>-->
    <p></p>

    <h2>{{ category_name }}</h2>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
<ul class="posts">
  <li>{{ post.date | date_to_string }}</span> » <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
</ul>
    {% endfor %}
  </div>
{% endfor %}

</div>
