<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li>David Sweeney</li>
				<li>|</li>
				<li><a href="/">home</a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/blog">posts</a></li>
				<li><a href="/categories">categories</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:dvdsweeney@gmail.com">email</a></li>
			</ul>
			<ul>
				<li><a href="feed:https://dvdsweeney.github.io/blog/atom.xml">RSS</a></li>
	        		<li><a href="https://twitter.com/dvdsweeney">twitter</a></li>
				<li><a href="https://www.instagram.com/dvd.sweeney/">instagram</a></li>
			</ul>
			</footer>
		</body>
	</html>
